<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cmsmobile">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CMSMobile"
        tools:targetApi="31">
        <activity
            android:name=".activity.ClassListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ViewGeneralCourseActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddCourseFeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ListLectureActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddLectureActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GradingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EditExamSubmissionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddExamSubmissionActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ViewExamSubmissionActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".activity.ViewCourseFeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddAnnouncementActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ViewAnnouncementActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ViewGradeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SearchCourseActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"/>
        <activity
            android:name=".activity.EditClassActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EditExamActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddExamActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RecoverPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".activity.MainActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--        <activity-->
<!--            android:name=".activity.ViewClassDetailActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".activity.ViewExamActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".activity.AddClassActivity"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".activity.AddClassActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>